<div class="_default">
<swiper [config]="config">
  <div class="swiper-wrapper">
          <img class="swiper-slide"  [style.height]="screen" src="../../../../../assets/slide-1.jpg">
          <img class="swiper-slide"  [style.height]="screen" src="../../../../../assets/slide-2.jpg">
          <img class="swiper-slide"  [style.height]="screen" src="../../../../../assets/slide-3.jpg">
      </div>
      <div class="swiper-pagination"></div>
      <div [hidden]="!num" class="swiper-button-next"></div>
      <div [hidden]="!num" class="swiper-button-prev"></div>
  </swiper>
</div>